// These variables are consumed by web/static/src/scss/primary_variables.scss.
$o-community-color: #0e4a7a;
$o-enterprise-color: #0e4a7a;
$o-enterprise-action-color: #1f6aa5;

$o-brand-odoo: $o-community-color;
$o-brand-primary:$o-community-color;
$o-brand-secondary: $o-enterprise-action-color;
$o-action: $o-brand-primary;
